.body{
   margin: 0;
   padding: 0;
  
  background-color: rgb(251, 243, 234);
    width: 100%;
    border: solid 3px;
    align-items: center;
    
}


.head{
    
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.head hr{
    border: solid 1px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
   
    
  
}

.box{
    border: solid 2px;
    border-color: rgb(251, 243, 234) ;
    width: 310px;
    padding: 5px;
    margin: 5px;
    display: flex;
  

}

img{
    width: 290px;
    height: 300px;
    cursor: pointer;
      -webkit-tap-highlight-color: transparent;
  
}

.box img:hover {
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

  }






